.App {
  width: 80%;
  margin: auto;
  height: 100%;
}

.create-post {
  width: 150px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  border: none;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 20px auto;
  font-weight: bold;
  cursor: pointer;
}
